<!DOCTYPE HTML>



<html>
	<head>
		<title>博客</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/main02.css" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="{% url 'app:index' %}" class="logo"><strong>BlogPages</strong> by 雨豪</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'app:index' %}">首页</a></li>
					<li><a href="#">涂鸦（正在开发）</a></li>
					<li><a href="#">相册（正在开发）</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>我的博客<br />
					My Blog</h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continue</a></li>
					</ul>
				</div>
			</section>

            {#		文本#}
			<article id="one" class="post style1">
				<div class="image">
					<img src="../static/images/image99.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Python</h2>
                            <p>django</p>
                            <p>本网站基于 <strong>Python3.7+django2.1.2+mysql8.0.1+simpleui</strong></p>
                            <p>部署：<strong>uwsgi+nginx</strong></p>
						</header>
						<ul class="actions">
							<li><a href="blog_list/python" class="button alt">Read More</a></li>
{#                            <li><a href="#" class="button alt">Read More</a></li>#}

						</ul>
					</div>
					<div class="postnav">
                        <a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
                        <a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>


            <article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="../static/images/img01.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>计网+计组+数据结构与算法（Python）</h2>
							<p class="info">计算机网络原理--计算机组成原理--数据结构与算法</p>
						</header>
                        <p></p>
						<ul class="actions">
							<li><a href="blog_list/basic" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
            <article id="three" class="post style2">
				<div class="image">
                    <img src="../static/images01/jeVh67AofYU.jpg" alt="" data-position="60% center" />

				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>前端</h2>
							<p class="info">HTML+CSS+JS</p>
						</header>
                        <p></p>
                        <ul class="actions">
							<li><a href="blog_list/front" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
            <article id="four" class="post invert style2 alt">
				<div class="image">
                    <img src="../static/images01/Utsvwy1XAX4.jpg" alt="" data-position="80% center" />

				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>数据库</h2>
							<p class="info">mysql--redis--mongodb</p>
						</header>
                        <p>这是内容</p><ul class="actions">
							<li><a href="blog_list/mysql" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>

					</div>
				</div>
			</article>
            <article id="five" class="post style3">
				<div class="image">
					<img src="../static/images01/9zH3AfW7O4o.jpg" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>GIT,Docker等常用工具</h2>
							<p class="info"><strong>GIT</strong> 是一个开源的分布式版本控制系统，可以有效、高速地处理从很小到非常大的项目版本管理。</p>
                            <p class="info"> <strong> Docker</strong> 是一个开源的应用容器引擎，让开发者可以打包他们的应用以及依赖包到一个可移植的镜像中，然后发布到任何流行的 Linux或Windows 机器上，也可以实现虚拟化。容器是完全使用沙箱机制，相互之间不会有任何接口</p>
						</header>

						<ul class="actions">
							<li><a href="blog_list/git" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

            <article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="../static/images01/KWxlPUbhpH0.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Linux</h2>
							<p class="info">centos</p>
						</header>

						<ul class="actions">
							<li><a href="blog_list/linux" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>







		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/hyh1207" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-wechat"><span class="label">微信</span></a></li>
					<li><a href="#" class="icon fa-qq"><span class="label">qq</span></a></li>
				</ul>

			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.blog.js"></script>
			<script src="/static/js/jquery.scrolly.min.blog.js"></script>
			<script src="/static/js/skel.min.blog.js"></script>
			<script src="/static/js/util.blog.js"></script>
			<script src="/static/js/main.blog.js"></script>


	</body>
</html>
